#montitre1{
    color: red;
}
#parg1{
    color: blue;
}/*rendu 1*/
#montitre2{
    color: red;
}/*rendu 2*/
#montitre1{
    color: red;
}
#montitre2{
    color: red;
}/*rendu 3*/
#montitre1{
    color: red;
}/*rendu 4*/