.montitre1{
    color: yellow;
}
.parg1{
    color: yellow;
}/*rendu 1*/
.montitre1{
    color: yellow;
}
.montitre2{
    color: yellow;
}/*rendu 2*/
.montitre1{
    color: yellow;
}
.montitre2{
    color: blue;
}/*rendu 3*/
.montitre1{
    color: yellow;
}/*rendu 4*/